.hero-container {
  height: 90vh;
  margin-top: 10em;

  p {
    margin-top: 3em;
    font-size: 1.3em;
  }

  span {
    text-decoration: underline;
    text-decoration-color: orange;
    text-underline-offset: 0.1em;
  }

  .carat-keyframe {
    margin-left: 0.2em;
    border-right: 0.3em solid;
    color: orange;
    animation: caret 0.5s steps(1) infinite;
  }

  @keyframes caret {
    50% {
      border-color: transparent;
    }
  }

  @media only screen and (min-width: 950px) {

    margin-top: 20em;

    p {
      margin-top: 2.2em;
    }


  }
  }
