.project-container {

  h3 {
    margin-bottom: 5rem;
  }
  padding-top: 5rem;
  a {
  display: inline-blesock;
  color: inherit;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  }

  button {
    border: 0;
    outline: 0;
    cursor: pointer;
  }

  ul,
  ol {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  svg {
    width: 100%;
    height: 100%;
    fill: currentColor;
  }

  img {
    width: 100%;
    max-width: 100%;
    vertical-align: middle;
  }

  @mixin outline {
    outline: 1px solid red;
  }

  @mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @mixin flex-between {
    display: flex;
    justify-content: space-between;
  }

  @mixin tablet {
    @media (max-width: 950px) {
      @content;
    }
  }

  .project-container {
    max-width: 1000px;
    margin: 50px auto;
  }

  .project {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;

    @media screen and (max-width: 950px) {
      align-items: flex-start;
    }
  }

  .project-content {
    position: relative;
    grid-column: 1 / 6;
    grid-row: 1 / -1;

    @include tablet {
      grid-column: 1 / -1;
      padding: 40px;
    }

    .project-label {
      color: orange;
      font-family: monospace;
    }
    .project-title {
      font-size: 2rem;
      margin: 10px 0 30px;
    }
    .project-details {
      font-size: 15px;
      line-height: 1.5;
      color: black;

      p {

        padding: 1rem 0;
        @include tablet {
          background-color: transparent;
          padding: 1rem 0;
        }
      }

      ul {
        display: flex;
        margin-top: 20px;

        li {
          margin-right: 20px;
          color: rgb(129, 129, 129);
          font-family: monospace;
        }
      }
    }
  }

  .project-img {
    position: relative;
    overflow: hidden;
    border-radius: 2px;
    grid-column: 6 / -1;
    grid-row: 1 / -1;



    img {
      border-radius: 2px;
      position: relative;
      mix-blend-mode: multiply;
      filter: grayscale(100%) contrast(1);
      transition: ease-in-out 100ms;




      @media screen and (max-width: 950px) {
        object-fit: cover;
        width: auto;
        height: 100%;
      }
    }

    &:hover img{
      filter: none;
      transform: scale(1.05);
    }





    @media screen and (max-width: 950px) {
      height: 100%;
    }
    @include tablet {
      grid-column: 1 / -1;
      opacity: 0.25;
    }

    // &:before {
    //   content: "";
    //   position: absolute;
    //   width: 100%;
    //   height: 100%;
    //   top: 0;
    //   left: 0;
    //   right: 0;
    //   bottom: 0;
    //   z-index: 3;
    //   background-color: #0a192f;
    //   mix-blend-mode: screen;
    //   border-radius: 2px;
    // }


  }
}
