
.container {
  margin: 0 1em;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Space Grotesk";
  font-weight: 400;
}
h1, h2, h3 {
  font-family: "Space Grotesk";
  font-weight: 600;
  margin: 0;
}

h1 {
  font-size: 3em;
}

h2, h3 {
  font-size: 2rem;
}


a {
  color: black;
  text-decoration: none;
  position: relative;
  transition: ease 150ms;

}

.horizontal-line {
  height: 2.0px;
  margin-top: 0;
  margin-left: 1vw;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: rgba(255, 166, 0, 0.305);
}
.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

p {
  line-height: 1.5em;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
strong {
  font-weight: 600;
}
.font-bold {
  font-weight: bold;
}

ol, ul, li {
  list-style: none;
}

.yellow-underline {
  text-decoration: underline;
  text-decoration-color: orange;
  text-underline-offset: 0.2em;
}
.orange {
  color: orange;
  font-weight: bold;
  margin-left: 10px;
}
@font-face {
  font-family: 'Roboto Mono';
  src: url(../fonts/RobotoMono/RobotoMono-VariableFont_wght.ttf) format('truetype');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Mono';
  src: url(../fonts/RobotoMono/RobotoMono-VariableFont_wght.ttf) format('truetype');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Space Grotesk';
  src: url(../fonts/SpaceGrotesk/SpaceGrotesk-VariableFont_wght.ttf) format('truetype');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Space Grotesk';
  src: url(../fonts/SpaceGrotesk/SpaceGrotesk-VariableFont_wght.ttf) format('truetype');
  font-weight: 600;
  font-display: swap;
}

@media only screen and (min-width: 950px) {

  .container {
    max-width: 1200px;
    padding: 2em;
    margin: 0 auto;
  }

  h1 {
    font-size: 3.5rem;
  }
  h2, h3 {
    font-size: 2.5rem;
  }

}

@keyframes wipe-enter {
	0% {
		transform: scale(0, .025);
	}
	50% {
		transform: scale(1, .025);
	}
}

@media (prefers-reduced-motion: no-preference) {
  .square-animation {
    animation: wipe-enter 1s 1;
  }
}

.fade-in {
  opacity: 0;
  transition: 0.5s ease-in-out;
  filter: blur(1px);
}
.fade-in-up {
  opacity: 0;
  transform: translate(0px, 20px);
  filter: blur(1px);
  transition: 600ms ease-in-out;
}
.fade-in-down {
  opacity: 0;
  transform: translate(0px, -20px);
  filter: blur(1px);
  transition: 600ms ease-in-out;
}
.fade-in-left {
  opacity: 0;
  transform: translate(20%, 0px);
  filter: blur(20px);
  transition: 600ms ease-in-out;
}
.fade-in-right {
  opacity: 0;
  transform: translate(-20%, 0px);
  filter: blur(20px);
  transition: 600ms ease-in-out;
}
.clip-in {
  opacity: 0;
  filter: blur(7px);
  transform: translate(0px, 20px);
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  transition: 600ms ease-out;
}
.appear {
  opacity: 1;
  transform: translate(0px, 0px);
  z-index: 0;
  filter: blur(0);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
