// Display Desktop Navbar above 950px
@media only screen and (min-width: 950px) {
  .desktop-link-container {
     display: flex;
     align-items: center;
     margin-right: 2em;

     ul {
       display: flex;
       -webkit-box-pack: justify;
       justify-content: space-between;
       -webkit-box-align: center;
       align-items: center;
       padding-inline-start: 2em;

       li a{
         padding: 0.5em 1.0em;
         text-decoration: none;
         transition: all 0.3s ease;

         &:hover {
           color: black;
           text-decoration: underline;
           text-decoration-color: orange;
           text-decoration-thickness: 0.2em;
           text-underline-offset: 0.3em;

         }
       }
     }
   }
   .mobile-link-container {
     display: none;
   }
 }
