@media only screen and (min-width: 0px) {
  .navbar-container {
    display: flex;
    justify-content: space-between;
    background-color: white;
    position: fixed;
    height: 50px;
    padding-top: 10px;
    top: 0px;
    align-items: center;
    width: 100%;

    .title-container {
      margin-left: 1em;
      position: fixed;
      z-index: 30;
    }
  }
}

@media only screen and (min-width: 750px) {
  .navbar-container {

    &:hover li a{
      color: gray;
    }

    .title-container {
      margin-left: 2.5em;
      position: relative;
    }

  }
}
