.about-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-gap: 100px;
  padding-bottom: 100px;

  p {
    margin-top: 2.2em;

    span {
      font-weight: 700;
    }
  }

  a {
    font-weight: 600;
    transition: all 200ms;

    &:hover {
      color: gray;
    }
  }


  a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: orange;
    transform-origin: bottom left;
    transition: transform 0.25s ease-out;
  }

  a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}

.text-container {
  grid-column: 1;
  grid-row: 1;
}

.photo-container {
  grid-column: 2;
  grid-row: 1;
  overflow: hidden;
}



img {
  width: 100%;
}

@media (max-width: 950px) {
  .about-container {
    grid-template-columns: 1fr;
  }

  .text-container {
    grid-column: 1;
    grid-row: 1;
  }

  .photo-container {
    grid-column: 1;
    grid-row: 2;
    height: 60vh;
    overflow: hidden;
  }
}
