.about-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-gap: 100px;
}

.text-container {
  grid-column: 1;
  grid-row: 1;
}

.photo-container {
  grid-column: 2;
  grid-row: 1;
}

p {
  margin-top: 2.5rem;
  font-size: 1em;
}

img {
  width: 100%;
}
@media (max-width: 750px) {
  .about-container {
    grid-template-columns: 1fr;
  }

  .text-container {
    grid-column: 1;
    grid-row: 1;
  }

  .photo-container {
    grid-column: 1;
    grid-row: 2;
  }
}
