.about-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-gap: 100px;
  padding-bottom: 100px;

  p {
    margin-top: 2.2em;

    span {
      font-weight: 700;
    }
  }

  a {
    font-weight: 600;

    &:hover {
      color: black;
      text-decoration: underline;
      text-decoration-color: orange;
      text-decoration-thickness: 0.2em;
      text-underline-offset: 0.3em;
    }
  }
}

.text-container {
  grid-column: 1;
  grid-row: 1;
}

.photo-container {
  grid-column: 2;
  grid-row: 1;
  overflow: hidden;
}



img {
  width: 100%;
}

@media (max-width: 950px) {
  .about-container {
    grid-template-columns: 1fr;
    padding-bottom: 0px;
  }

  .text-container {
    grid-column: 1;
    grid-row: 1;
  }

  .photo-container {
    grid-column: 1;
    grid-row: 2;
    height: 60vh;
    overflow: hidden;
  }
}
