.footer-container {

  &:hover .clickable-icon {
    color: gray;
  }
}


.icons-container{

  &:hover {
    filter: grayscale(100%);
  }
}

@media only screen and (min-width: 0px) {
  .footer-container {
    position: relative;
    text-align: center;
  }

  .icons-container {
    float: none;
  }
}

@media only screen and (min-width: 640px) {
  .footer-container {
    bottom: 0;
    position: fixed;
    width: 100%;
    background-color: white;
    min-height: 32px;
    align-items: center;
    text-align: start;
    padding-left: 1em;
  }

  .icons-container {
    float: right;
    margin-right: 2em;
  }
}
