@media only screen and (min-width: 0px) {
  .footer-container {
    position: relative;
    text-align: center;
    z-index: 100;

    &:hover .clickable-icon {
      color: gray;
    }

    p {
      font-size: 1em;
    }
  }

  .icons-container {
    float: none;

    &:hover {
      filter: grayscale(100%);
    }

  }


}

@media only screen and (min-width: 950px) {
  .footer-container {
    bottom: 0;
    position: fixed;
    width: 100%;
    background-color: white;
    min-height: 32px;
    align-items: center;
    text-align: start;
    margin-left: 1.5em;
    padding-bottom: 0.2em;
  }

  .icons-container {
    float: right;
    margin-right: 3em;
  }
}
