@media only screen and (min-width: 640px) {
  .navbar-container {
    background-color: white;
    position: fixed;
    height: 50px;
    padding-top: 10px;
    top: 0px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    width: 100%;

    &:hover li a{
      color: gray;
    }

    .title-container {
      margin-right: 2.5em;
    }

    .link-container {
      margin-left: 2em;
      display: flex;
      align-items: center;

      ul {
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        align-items: center;
        margin: 0px;
        list-style: none;

        li a{
          padding: 0.5em 1.5em;
          text-decoration: none;
          transition: all 0.3s ease;

          &:hover {
            color: black;
            text-decoration: underline;
            text-underline-offset: 0.8em;
          }
        }
      }
    }
  }
}
