.contact-container {
  margin-top: 150px;
  padding-bottom: 150px;
  width: 50%;

  @media (max-width: 950px) {
    width: 100%;
  }

  p {
    margin-top: 4rem;
    margin-bottom: 4rem;
    color: rgb(69, 68, 68);
  }

  a {
    font-size: 1.2rem;
    font-weight: bold;

    &:hover {
      color: gray;
    }
  }

  a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -3px;
    left: 0;
    background-color: orange;
    transform-origin: bottom left;
    transition: transform 0.25s ease-out;
  }

  a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}
