.clickable-icon {
  transition: all 0.3s ease;
  color: black;
  padding-left: 0.3em;
  &:hover {
    color: black !important;
  }
  svg {
    width: 40px;
  }
}

.resume-button {
  background-color: transparent;
  border: 1px solid black;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  padding: 0.5em 1.5em;
  margin-left: 15px;
  transition: all 0.3s ease;

  &:hover {
    background-color: black;
    color: white;
    text-decoration: none;

  }
}

@media only screen and (max-width: 950px) {
  .resume-button {
    margin: 0;
  }
}
